{% extends "layout.html" %}

{% block title %}
    Contribute
{% endblock %}

{% block main %}

<form action="/contribute" method="POST" style="background: lightgoldenrodyellow;">
    <p></p><br><br>  
    <h5>Volunteer Information:</h5><br>
    <div class="form-group">
        <label for="name">Full Name:&nbsp;</label>
        <input autocomplete="off" autofocus class="form-control" id="name" name="name" type="text" required><br><br>
        <label for="email">Email:&nbsp;</label>
        <input autocomplete="off" class="form-control" id="email" name="email" type="email"><br><br>
        <label for="phone">Phone:&nbsp;</label>
        <input autocomplete="off" class="form-control" id="phone" name="phone" type="tel" required><br><br>
        <label for="region">Province:&nbsp;</label>
        <input autocomplete="off" class="form-control" id="region" name="region" type="text" required><br><br>     
    </div>
    <h5>Service Information:</h5><br>
    <div class="form-group">
        <label for="job">Profession:&nbsp;</label>
        <input autocomplete="off" class="form-control" id="job" name="job" type="text" required><br><br>
        <label for="quantity">Quantity:&nbsp;</label>
        <input autocomplete="off" class="form-control" id="quantity" name="quantity" type="number" required><br><br>
        <label for="period">When you can provide your service:&nbsp;</label>
        <input autocomplete="off" class="form-control" id="period" name="period" type="month" required><br><br>
    </div>
    <button class="btn btn-primary" type="submit">Contribute</button><br><br>
    <p></p>
</form>

{% endblock %}